# Set prompt to bottom and alias clear to set to bottom 
printf "\e[H\ec\e[9999B"
alias clear="clear && printf \"\e[H\ec\e[9999B\""

# Theme
ZSH_THEME="robbyrussell"

# Path to customs
ZSH_CUSTOM="$HOME/.config/zsh-custom/"

# Plugins
plugins=(git z)

# Preferred editor for local and remote sessions
 if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='nvim'
 else
   export EDITOR='nvim'
 fi

